installation de Mongo sur colab

In [ ]:
!pip install pymongo

Collecting pymongo
  Downloading pymongo-4.15.5-cp312-cp312-manylinux2014_x86_64.manylinux_2_17_x86_64.manylinux_2_28_x86_64.whl.metadata (22 kB)
Collecting dnspython<3.0.0,>=1.16.0 (from pymongo)
  Downloading dnspython-2.8.0-py3-none-any.whl.metadata (5.7 kB)
Downloading pymongo-4.15.5-cp312-cp312-manylinux2014_x86_64.manylinux_2_17_x86_64.manylinux_2_28_x86_64.whl (1.7 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.7/1.7 MB 17.9 MB/s eta 0:00:00
Downloading dnspython-2.8.0-py3-none-any.whl (331 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 331.1/331.1 kB 11.7 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.8.0 pymongo-4.15.5

Se connecter à MongoDB Atlas

In [ ]:
from pymongo import MongoClient
# Remplacez par votre URI MongoDB Atlas
uri = "mongodb+srv://Ethan:Ethan24@cluster0.szu39ua.mongodb.net/retryWrites=true&w=majority"
client = MongoClient(uri)
# Accéder à la base de données
db = client["BankDB"]
transactions_collection = db["transactions"]
# Vérification de la connexion
print("Connexion à MongoDB Atlas réussie!")

Connexion à MongoDB Atlas réussie!

utilisation  du framework d'agrégation de MongoDB
pour additionner les montants des transactions par type de transaction

In [ ]:
#creer un pipeline d’ Aggregation  pour calculer le montant total transaction par type
pipeline = [
    {"$group": {"_id": "$Transaction Type", "totalAmount": {"$sum": "$Transaction Amount"}}}
]
# executer la requete d’agrégation
result = transactions_collection.aggregate(pipeline)
# afficher les resultats
for doc in result:
    print(f"Transaction Type: {doc['_id']}, Total Amount: {doc['totalAmount']}")

Transaction Type: Deposit, Total Amount: 252042.62
Transaction Type: Withdrawal, Total Amount: 227346.12
Transaction Type: Transfer, Total Amount: 291776.55

 Réalisation  d’autres opération d’agrégation de votre choix

In [ ]:
transactions_collection.count_documents({})

1000

Nombre de transactions par type

In [ ]:
pipeline = [
    {
        "$group": {
            "_id": "$Transaction Type",
            "totalTransactions": { "$sum": 1 }
        }
    }
]
result = transactions_collection.aggregate(pipeline)
for doc in result:
    print(doc)

{'_id': 'Deposit', 'totalTransactions': 316}
{'_id': 'Withdrawal', 'totalTransactions': 310}
{'_id': 'Transfer', 'totalTransactions': 374}

Montant moyen par type

In [ ]:
pipeline = [
    {
        "$group": {
            "_id": "$Transaction Type",
            "averageAmount": { "$avg": "$Transaction Amount" }
        }
    }
]

for doc in transactions_collection.aggregate(pipeline):
    print(doc)

{'_id': 'Deposit', 'averageAmount': 797.6032278481013}
{'_id': 'Withdrawal', 'averageAmount': 733.3745806451612}
{'_id': 'Transfer', 'averageAmount': 780.1512032085561}

Transactions échouées par appareil

In [ ]:
pipeline = [
    { "$match": { "Transaction Status": "Failed" } },
    {
        "$group": {
            "_id": "$Device Used",
            "failedCount": { "$sum": 1 }
        }
    }
]

for doc in transactions_collection.aggregate(pipeline):
    print(doc)

{'_id': 'Mobile', 'failedCount': 270}
{'_id': 'Desktop', 'failedCount': 243}